<header>
	<div class="header">
		<div class="header__left">
			<a href="https://modnakasta.ua/" class="header__logo">
				<img src="img/header_logo.png" alt="" class="header__logo-img"/>
			</a>
		</div>
		<div class="header__right">
			<p class="header__tel">+ 380 44 355 5555</p>
		</div>
	</div>
</header>
<nav class="menu">
	<div class="menu__list">
		<a href="https://modnakasta.ua/f/female/" class="menu__item">Женщинам</a>
		<a href="https://modnakasta.ua/f/male/" class="menu__item">Мужчинам</a>
		<a href="https://modnakasta.ua/f/child/" class="menu__item">Детям</a>
		<a href="https://modnakasta.ua/f/home/" class="menu__item">Дом</a>
		<a href="https://modnakasta.ua/f/outlet/" class="menu__item">Outlet</a>
		<a href="https://modnakasta.ua/modnakarta/" class="menu__item">ModnaKarta</a>
	</div>
</nav>
